/*

indice:

    6   - Pagina Principal
    274 - Pagina 'Sobre'
    424 - Pagina 'Inscrição'
    548 - Pagina 'Produtos'


*/
body
{
    background-image:url(img/background_color.jpg) , url(img/back.jpg);
 
    background-repeat: no-repeat  ;
    background-position: center ;
    background-attachment: fixed;
    background-size: 1300px , cover;

    
    min-height: 100vh;
    height: auto;

    background-color: #3C3C3B;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

     
}

main
{
    margin :    30px 130px 0px 147px;
}   
@font-face
{
        font-family: 'Kremlin';
        src: url("img/kremlin.ttf");
}


 /**/

 .animation-wrapper {
    position: fixed;
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#000 , #222);
    z-index: 1000;
    
    animation: raiseUp 4.5s forwards ease-in-out;
}

 .animation-wrapper h1
 {
    color: #928d8d;
    font-family: "Kremlin" , sans-serif;
    font-size: 50px;
    text-shadow: 3px 0px;
    text-decoration: none;
 }

@keyframes raiseUp  
{
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        visibility: hidden;
    }
}

.content {
    position: relative;
    z-index: 1; 
}
/*---Animação--- */

h1 
{
    
    text-align: center;
}

h1 a
{
    color: #928d8d;
    font-family: "Kremlin" , sans-serif;
    font-size: 50px;
    text-shadow: 3px 0px;
    text-decoration: none;
}
h1 a:hover
{
    background-image: radial-gradient(#000,#3C3C3B  );
}
header p
{
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr
{
    border-style: double;
    width: 80%;
    align-items: center;
     
}
 
.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #000000;
    position:  sticky ;
    top :0px;
    list-style-type: none;
    padding:10px;
    margin:none;
    z-index: 1;
}

.navbar ul
{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    
}
 
 
.navbar a {
    
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
     
    list-style-type: none;
    font-size: large;
    display: block;
    padding: 10px;
    
     
    
}

.navbar li
{
    float: left;
     
}
 


.DropDown
{
    padding:  10px 10px 0px 10px ;
    margin: 0;
}
.DropDown button
{
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding :0px 0px 20px 0px;
    
}
.DropDown .Conteudo     
{
    position: absolute;
    width: 100%;
    display: none;
    
    right:0px;
  
 
    background-color: #00aa00;
    border-radius: 0px 0px 10px 10px;

}

.DropDown .Conteudo a {
    display: block;
    padding: 10px;
    color: #000000;  
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.DropDown:hover .Conteudo 
{
    display: block;
    
}

.Conteudo a:hover
{
    background-color: #004400;
}

 
.News h3
{
    text-align: center;
    border-style: groove;
    border-radius: 15px;
    color: #00ff00;
}
.News article {
    padding: 5px;
    overflow: hidden;
    position: relative;
    width: 98%;
    margin-right:100px;

    height: auto;
    max-height: 350px;  
    color: azure;
    background-image: linear-gradient(#000, #00000088);
    border-radius: 20px;
    display: block;
    z-index: 1;
    transition: max-height 0.5s ease;
}

article img {
    border: 1px solid white;   
    border-radius: 20px;
    width: 40%;
    max-height: 200px;  
    display: block;
    margin: 0 auto 10px auto;  
}

article h2 {
    margin: 10px auto;
    text-align: center;
}

article:hover {
    max-height: 1000px;  
    background-image: linear-gradient(#000, #000000c2);
}

article p, article ul {
    text-align: justify;
    width: 70%;  
    margin: 0 auto;  
    display: none;
}

article:hover p, article:hover ul {
    display: block;
}



.Aside
{
    margin-top: 20px;
    padding :10px;
    border-style: hidden;
    border-radius: 30px;
    float:left;
    position:relative;    
     


    background-color: #d4eed4;
    width: 20%;
}

.Aside .question
{
    color: #000000;
     
}
.Aside .answer
{
    color: #004400;
    font-weight:lighter;
}

.sponsors
{
    text-align: left;
    align-items: center;
}
.sponsors a
{
     
    text-decoration: none;
    color :#004400;
}
.sponsors img
{
    height: 20px;
    width: 20px;
    bottom: 2px;
}
 
.Testemonials
{
    margin-top:20px;
    margin-left: 280px;
     
    

    font-weight: lighter;
    width: 74%;
    max-height: 850px;
    align-items: center;
    padding :10px;

    overflow: scroll;

    border-style: hidden;
    border-radius: 30px;
    
    position:relative;    

    background-color: #c3c3c3   ;
    
}
.Testemonials h3
{
    text-align: center;
    border: #00ff00;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Testemonials .testemunho
{
    margin: 5px 0px 10px 0px;
    background-color: #ffffff;
    padding:10px 0px 10px 5px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 30px;

}
.footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;  
    clear: both;  
    margin-top: 20px;  
    z-index: 1;  
}


/*Pagina Sobre*/

.about
{
    width: 97%;
    font-family: Arial, Helvetica, sans-serif;
    

    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 2.5px;
    border-left-width: 2.5px;
    border-radius: 0px 50px 0px 50px;
    border-color: #00ff00;
  
    background-image: linear-gradient(#3C3C3B  , #000000);

    color: #ffffff;

    padding:5px;
}
.about h3
{
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    color: #00ff00;
    text-shadow:5px 0px #016a01;
    
}
.about hr
{ 
    
    width:80%;
    color: #00ff00;
    border-style:dashed;

}
.about p
{
    text-align:start;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    padding:10px;
}

.about ul
{
    text-decoration: none;
    margin:0 auto;
    padding :0px 0px 0px 30px;
}

.about li
{
    text-decoration: none;
    padding: 5px 0px 5px 30px;
    font-size: small;
}
 
.quote blockquote
{
     
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;

    background-color: #242424   ;

    color: #555;
}
.quote a
{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;

   text-decoration: none; 

    color: #555;
}

.about caption
{
    color: #fff;
}
.about .table_main
{
    width: 75%;
    height: auto;
     
    position: relative;
    color: #000;

    left: 150px; 
    border:5px ridge #bbbbbb;
    border-radius: 40px;
    padding: 25px;
    background-image:linear-gradient(#00ff00 , #016a01) ;
    justify-content: center;
}

.table_main table
{
    width: 900px;
     
    border-radius: 40px;
    border-collapse: collapse;


    
}

.table_main caption
{

     
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    color: #00ff00;
    text-shadow:5px 0px #016a01;
     
    text-decoration: 1px solid #fff;
}

.table_main tbody
{
    padding: 20px;
    background-color: #2b303d;
 
     

}

.table_main #table_first_row
{
    border-top: 1px solid #000 ;
    color: #000;
    background-color: #00aa00;
}
 

.table_main tr
{
    color: #4e576e;
    border-bottom: 0.05cm dotted #000;
    
}

.table_main th
{
    padding: 25px;
    
}

/*Página Inscrição*/
.enrollment
{
    color: #495166;
    text-align: center;
    background-image:linear-gradient(#2b303d , #000)
    
}
.enrollment h2
{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;

}

.enrollment form
{
         
        width: 100%;
        color: white;
}
.enrollment label
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    
}

.teamInput
{
    height: auto;
    width: auto;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}
.elemInput
{
    height: auto;
    width: auto;
    border-top: 3px solid #000;
 
}
 

.formInput
{
    padding: 10px;
}

.formInput p
{
    color: #495166;
}
 
.formInput input[type=text],input[type=email],input[type=tel],input[type=number]
{
 
    
    padding: 12px 13px;
    background-color: #00000000;
    border-width: 0px 0px 1px 0px;
    border-radius: 9px;

    color: #58627c;
}

.formInput input[type=submit]
{
    width: 65vh;
    height: 8vh;

    background-color: #00aa00;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #02f002;
    border-radius: 16px;

    color: white;
     
}

.formInput input[type=submit]:hover
{
   background-color: #004400;     
}

.enrollment .formInput
{

    background-color: #2b303d;
}

.formTitle
{
    background-color: #242424;
    margin: auto;
    padding: 10px;
}
 
.teamElem
{
     
    border-style: hidden;    
    background-color: #ffffff2c;
    border-radius: 15px 15px 0px 0px;

    margin: 0px 8px 0px 8px;
    float: left;
    
    width: auto;
    padding:2px;
}
 
.teamElem p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;

    color:#fff
}
/*Pagina 'Produtos'*/
.products
{
    width: 99%;
    min-height: 60vh;
    padding: 0px;

    background-color: #FFF  ;
    border-radius: 30px 30px 0px 0px;
}
.products hr{
    justify-items:center;
    width: 75vw;
    
    border:2px solid #000;
 }

 .products .product_nav
 {
    position:relative;
    background-color: #aaa;
    
     
    border-radius: 0px 15px 0px 0px;  
 }
 

 .product_nav li
 {

    float: left;
    border-left: 1px solid #888;
    list-style-type: none;
    
    margin: 0px;
    padding:20px 0px 5px 100px;
 }

 .product_nav ul
 {
    text-align: center;
    overflow: hidden;
    
    
 }
.product_nav a{

    text-decoration: none;
    color: #000;
    text-align: center;
    
     
}
 .product_nav li:hover
 {
    background-image: linear-gradient(#080808,#5d5d5da6);
    color: azure;
    cursor: pointer;
 }

 .product-container {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.product-box {
    margin:0px;
    border-radius: 15px 0px 15px 0px;
    border:2px solid #aaa;
    border-bottom: 1px solid #000;
    border-right:5px solid #000;
  
    width: 99%
}

.product-box h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size: 28px;
    margin-bottom: 8px;
}

.product-box .price {
    font-weight: bolder;
    font-style:oblique;
    color: #61bd2b;
    text-shadow: 2px 1px #000;
}

.product-box .price::before{
    content : "€"
}

.product-container   :hover
{
    cursor: pointer;
}
#DownloadLink {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #4CAF50;  
    padding: 10px 20px;  
    border-radius: 5px;  
    border: 1px solid #388E3C;  
    transition: background-color 0.3s ease;  

     
    position: relative;
    top: 20px;
    margin: 0px auto; 

     
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#DownloadLink:hover {
    background-color: #45a049;  
}

#DownloadLink:active {
    background-color: #1E6823;  
}
