/*

indice:

    6   - Pagina Principal
    274 - Pagina 'Sobre'
    424 - Pagina 'Inscrição'
    548 - Pagina 'Produtos'


*/
body
{
    background-image:url(background_color.jpg) , url(back.jpg);
 
    background-repeat: no-repeat  ;
    background-position: center ;
    background-attachment: fixed;
    background-size: 1300px , cover;

    
    min-height: 100vh;
    height: auto;

    background-color: #3C3C3B;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main
{
    margin :    30px 130px 0px 147px;
}   
@font-face
{
        font-family: 'Kremlin';
        src: url("kremlin.ttf");
}



h1 
{
    
    text-align: center;
}

h1 a
{
    color: #928d8d;
    font-family: "Kremlin" , sans-serif;
    font-size: 50px;
    text-shadow: 3px 0px;
    text-decoration: none;
}
h1 a:hover
{
    background-image: radial-gradient(#000,#3C3C3B  );
}
header p
{
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr
{
    border-style: double;
    width: 80%;
    align-items: center;
     
}
 
.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #000000;
    position:  sticky ;
    top :0px;
    list-style-type: none;
     
}

.navbar ul
{
    list-style-type: none;
    overflow: hidden;
    
}
 
 
.navbar a {
    
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: large;
    display: block;
    padding: 10px;
    
}

.navbar li
{
    float: left;
}
.navbar_main a:hover {
    border-color: #00ff00;
    background-image: linear-gradient(#00ff00 , #006600);
    color: white;
}


.DropDown
{
    padding: 10px 15px;
    
}
.DropDown button
{
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-size: large;
    font-weight: bold;
    align-items: center;
    padding: 0px;
    
}
.DropDown .Conteudo
{
    
    float: left;
    position: absolute;
    width: 35%;
    
    display: none;
    background-color: #00ff00;
    box-shadow: 1px 2px 1px rgb(0, 0, 0);
}

.DropDown:hover .Conteudo
{
    display: block;
}

.News h3
{
    text-align: center;
    border-style: groove;
    border-radius: 15px;
    color: #00ff00;
}
article 
{
    padding: 5px;
    overflow: auto;
    position: relative;
    width: 400px;
    height: 330px;
    color: azure;
    background-image: linear-gradient(#000,#00000088);
    border-radius: 20px;
    
    display: block;
    float: left;
     
    
}

article img
{
    border: 1px white;
    border-radius: 20px;
    align-items: center;
    width: 400px;
}
 
article:hover 
{
    
    display:block;
    height:fit-content;
    background-image: linear-gradient(#000 , #000000c2)   ;
}

.Aside
{
    margin-top: 400px;
    padding :10px;
    border-style: hidden;
    border-radius: 30px;
    display:block;
    position:absolute;    

    background-color: #d4eed4;
    width: 20%;
}

.Aside .question
{
    color: #000000;
     
}
.Aside .answer
{
    color: #004400;
    font-weight:lighter;
}

.sponsors
{
    text-align: left;
    align-items: center;
}
.sponsors a
{
     
    text-decoration: none;
    color :#004400;
}
.sponsors img
{
    height: 20px;
    width: 20px;
    bottom: 2px;
}
 
.Testemonials
{
    margin-top: 400px;
    margin-left: 330px;
    margin-right: 147px;
    


    font-weight: lighter;
    width:fit-content;
    max-height: 780px;
    align-items: center;
    padding :10px;

    overflow: scroll;

    border-style: hidden;
    border-radius: 30px;
    
    position:absolute;    

    background-color: #c3c3c3   ;
    
}
.Testemonials h3
{
    text-align: center;
    border: #00ff00;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Testemonials .testemunho
{
    margin: 5px 0px 10px 0px;
    background-color: #ffffff;
    padding:10px 0px 10px 5px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 30px;

}
.footer
{
    
    padding: 40px;
    background-color: #000;
    
}

/*Pagina Sobre*/

.about
{
    width: 97%;
    font-family: Arial, Helvetica, sans-serif;
    

    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 2.5px;
    border-left-width: 2.5px;
    border-radius: 0px 50px 0px 50px;
    border-color: #00ff00;
  
    background-image: linear-gradient(#3C3C3B  , #000000);

    color: #ffffff;

    padding:5px;
}
.about h3
{
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    color: #00ff00;
    text-shadow:5px 0px #016a01;
    
}
.about hr
{ 
    
    width:80%;
    color: #00ff00;
    border-style:dashed;

}
.about p
{
    text-align:start;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    padding:10px;
}
 
.quote blockquote
{
     
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;

    background-color: #242424   ;

    color: #555;
}
.quote a
{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;

   text-decoration: none; 

    color: #555;
}

.about caption
{
    color: #fff;
}
.about .table_main
{
    width: 75%;
    height: auto;
     
    position: relative;
    color: #000;

    left: 150px; 
    border:5px ridge #bbbbbb;
    border-radius: 40px;
    padding: 25px;
    background-image:linear-gradient(#00ff00 , #016a01) ;
    justify-content: center;
}

.table_main table
{
    width: 900px;
     
    border-radius: 40px;
    border-collapse: collapse;


    
}

.table_main caption
{

     
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    color: #00ff00;
    text-shadow:5px 0px #016a01;
     
    text-decoration: 1px solid #fff;
}

.table_main tbody
{
    padding: 20px;
    background-color: #2b303d;
 
     

}

.table_main #table_first_row
{
    border-top: 1px solid #000 ;
    color: #000;
    background-color: #00aa00;
}
 

.table_main tr
{
    color: #4e576e;
    border-bottom: 0.05cm dotted #000;
    
}

.table_main th
{
    padding: 25px;
    
}

/*Página Inscrição*/
.enrollment
{
    color: #495166;
    text-align: center;
    background-image:linear-gradient(#2b303d , #000)
    
}
.enrollment h2
{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;

}

.enrollment form
{
         
        width: 100%;
        color: white;
}
.enrollment label
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    
}

.teamInput
{
    height: auto;
    width: auto;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}
.elemInput
{
    height: auto;
    width: auto;
    border-top: 3px solid #000;
 
}
 

.formInput
{
    padding: 10px;
}

.formInput p
{
    color: #495166;
}
 
.formInput input[type=text],input[type=email],input[type=tel],input[type=number]
{
 
    
    padding: 12px 13px;
    background-color: #00000000;
    border-width: 0px 0px 1px 0px;
    border-radius: 9px;

    color: #58627c;
}

.formInput input[type=submit]
{
    width: 65vh;
    height: 8vh;

    background-color: #00aa00;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #02f002;
    border-radius: 16px;

    color: white;
     
}

.formInput input[type=submit]:hover
{
   background-color: #004400;     
}

.enrollment .formInput
{

    background-color: #2b303d;
}

.formTitle
{
    background-color: #242424;
    margin: auto;
    padding: 10px;
}
 
.teamElem
{
     
    border-style: hidden;    
    background-color: #ffffff2c;
    border-radius: 15px 15px 0px 0px;

    margin: 0px 8px 0px 8px;
    float: left;
    
    width: auto;
    padding:2px;
}
 
.teamElem p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;

    color:#fff
}
/*Pagina 'Produtos'*/
.products
{
    width: 99%;
    min-height: 60vh;
    padding: 0px;

    background-color: #FFF  ;
    border-radius: 30px 30px 0px 0px;
}
.products hr{
    justify-items:center;
    width: 75vw;
    
    border:2px solid #000;
 }

 .products .product_nav
 {
    position:relative;
    background-color: #aaa;
    
     
    border-radius: 0px 15px 0px 0px;  
 }
 

 .product_nav li
 {

    float: left;
    border-left: 1px solid #888;
    list-style-type: none;
    
    margin: 0px;
    padding:20px 0px 5px 100px;
 }

 .product_nav ul
 {
    text-align: center;
    overflow: hidden;
    
    
 }
.product_nav a{

    text-decoration: none;
    color: #000;
    text-align: center;
    
     
}
 .product_nav li:hover
 {
    background-image: linear-gradient(#080808,#5d5d5da6);
    color: azure;
    cursor: pointer;
 }

 .product-container {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.product-box {
    margin:0px;
    border-radius: 15px 0px 15px 0px;
    border:2px solid #aaa;
    border-bottom: 1px solid #000;
    border-right:5px solid #000;
  
    width: 99%
}

.product-box h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size: 28px;
    margin-bottom: 8px;
}

.product-box .price {
    font-weight: bolder;
    font-style:oblique;
    color: #61bd2b;
    text-shadow: 2px 1px #000;
}

.product-container   :hover
{
    cursor: pointer;
}
